[submodule "aspmc-dev"]
	path = aspmc-dev
	url = git@github.com:raki123/aspmc-dev.git
	branch = main
	update = rebase
[submodule "MEUProblog"]
	path = MEUProblog
	url = git@github.com:VincentDerk/Paper-AC-Decisions-Learning.git
	update = rebase
[submodule "smProblog"]
	path = smProblog
	url = https://github.com/PietroTotis/smProblog.git
